<div class="d-flex justify-content-center">


  <div class="border-button p-3 m-4 bg-white text-start rounded" style="width: 17rem;">

    <h5> Filtrar por </h5>

    <div>
      <div>
        <p class="fw-medium mt-3">Categorías</p>
      </div>

      <div>
        <li class="ms-3 mt-2" style="font-size: 13px;"> (2)PC Portátil</li>
        <li class="ms-3 mt-2" style="font-size: 13px;">(734)PC Escritorio</li>
        <li class="ms-3 mt-2" style="font-size: 13px;">(145) Accesorios de computadoras</li>
        <li class="ms-3 mt-2" style="font-size: 13px;"> (2) Almacenamiento</li>
        <li class="ms-3 mt-2" style="font-size: 13px;"> (3) Proyección</li>
        <li class="ms-3 mt-2" style="font-size: 13px;"> (14) Componentes de Red</li>
        <li class="ms-3 mt-2" style="font-size: 13px;"> (104) Zona Gamer</li>
        <li class="ms-3 mt-2" style="font-size: 13px;"> (8) Punto de Venta</li>
      </div>
    </div>



    <div>
      <p class="fw-medium mt-3">Descuentos</p>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          50% o más
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          40% o más
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          30% o más
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          20% o más
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          10% o más
        </label>
      </div>

    </div>

    <div>
      <p class="fw-medium mt-3">Calificación</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          ⭐ ⭐ ⭐ ⭐ ⭐  5 estrellas
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          ⭐ ⭐ ⭐ ⭐  40% o más
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          ⭐ ⭐ ⭐  30% o más
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          ⭐ ⭐  20% o más
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px;">
          ⭐  10% o más
        </label>
      </div>



    </div>



  </div>

  <div class="">
    <div class="" style="display: grid; grid-template-columns: 33.3% 33.3% 33.3%">
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/a93dfa57d130226f5af82af3d836c2ba-catalog.webp"
          title="Monitor Ultrawide Lg 29 Ips Hdr10 Fhd Freesync 100hz 1ms 29w..." originalPrice="$1.129.900 - 16%"
          discount="$939.900" discountTarjet="$889.900"
          imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>

      </div>
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/d7301e2d4c8a95a6d6ce3c1e3f63d375-catalog.webp"
          title="Portatil Hp 240 G9 Celeron N4500 8gb Ssd 256gb 14" originalPrice="$1.199.900 - 30%" discount="$829.000"
          discountTarjet="$759.900" imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>
      </div>
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/bb419874f493e424e6d5b8eab196463a-catalog.webp"
          title="Monitor Samsung IPS de 24 Full HD Freesync 75Hz HDMI F24T35" originalPrice="$849.900 - 43%"
          discount="$479.900" discountTarjet="$459.900"
          imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>
      </div>
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/5a581d28afc339a808416153705b62a4-catalog.webp"
          title="Portatil Lenovo V14 ARE Ryzen 7 1TB 8Gb 14 pulgadas" originalPrice="$3.449.888 - 44%" discount=""
          discountTarjet="$1.899.900" imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>
      </div>
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/7963825869df936e145758d43e25d5fd-catalog.webp"
          title="Portatil HP 245 G9 Amd Ryzen 3 3250U 8gb 256ssd 14' Windows..." originalPrice="$1.899.000 - 44%"
          discount="$1.059.900" discountTarjet="$969.900"
          imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>
      </div>
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/c00b152c2daffcfba08b28cd51f48604-catalog.webp"
          title="Samsung Monitor 32' curvo FHD 1800R con diseño sin bordes e..." originalPrice="$1.784.881 - 47%"
          discount="" discountTarjet="$935.900"
          imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>
      </div>
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/31e87048f14a7c7d5d74e40daa7aad88-catalog.webp"
          title="IMPRESORA EPSON L3210 - RECARGA CONTINUA - MULTIFUNCIONAL" originalPrice="$860.000 - 21%"
          discount="$679.000" discountTarjet="$649.000"
          imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>
      </div>
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/d2b536bdf2cb98539258fb030c485756-catalog.webp" title="$1.678.000 - 28%"
          originalPrice="$1.678.000 - 28%" discount="$1.199.000" discountTarjet="$1.149.000"
          imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>
      </div>
      <div class="col">
        <app-card imgOfer="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
          imgProduct="https://i.linio.com/p/0568ca80bc8d3668d9d59af50d80d5db-catalog.webp"
          title="Maxell Combo Gaming One" originalPrice="$359.900 - 24%" discount="$271.900" discountTarjet="$265.900"
          imgUnica="https://clubderestaurantescmr.resermap.com/images/cmr/Logo-OU.png"
          imgCMR="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/CMR_Falabella-Logo.svg/320px-CMR_Falabella-Logo.svg.png"
          imgBank="https://www.bancofalabella.com.co/assets/logo.svg"></app-card>
      </div>

    </div>
  </div>

</div>